body {
    width: 15rem;
    padding: 10px;
    background-color:#dadada ;
}

#hsl-sphere {
    width: 100%;
    height: auto;
}

#hl-map{
    width: 100%;
    height: auto;
    display: none; 
}

.button-container {
    display: flex;
    justify-content: space-around;
}

#color-picker-hover{
    background-color: #adadad;
    padding: 0.65rem;
    font-size: 0.75rem;
    font-weight: 700;
    border-style: none;
    border-radius: 0.5rem;
    color: #696969;
    cursor: pointer;
}
#color-picker-hover:hover,
#color-picker-hover:active {
opacity: .75;
}

#color-picker-click{
    background-color: #adadad;
    padding: 0.65rem;
    font-size: 0.75rem;
    font-weight: 700;
    border-style: none;
    border-radius: 0.5rem;
    color: #696969;
    cursor: pointer;
}
#color-picker-click:hover,
#color-picker-click:active {
opacity: .75;
}

#hl-map-label{
    font-size: 0.7rem;
    font-weight: 500;
    color: #696969;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
    cursor: pointer;
}#hl-map-label:hover,
#hl-map-label:active {
opacity: .75;
}

#hsl-sphere-label{
    font-size: 0.65rem;
    font-weight: 500;
    color: #696969;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
}

.transparency-slider-container{
    display: flex;
    margin-top: 1rem;
}

#transparency-slider{
    appearance: none;
    background: #adadad; 
    border-radius: 0.5rem;
    opacity: 0.7;
}
#transparency-slider:hover {
    opacity: 1;
}

#transparency-slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 1rem; 
    height: 1rem; 
    background: #696969;
    cursor: pointer; 
    border-radius: 50%; 
}

#transparency-value{
    font-size: 0.7rem;
    margin-left: 0.5rem;
    color: #696969;
}

.bottom-container{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.bg-slider-container{
    display: flex;
    margin-top: 0.5rem;
}

#bg-slider{
    appearance: none;
    background: #adadad; 
    border-radius: 0.5rem;
    opacity: 0.7;
}
#bg-slider:hover {
    opacity: 1;
}

#bg-slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 1rem; 
    height: 1rem; 
    background: #696969;
    cursor: pointer; 
    border-radius: 50%; 
}

#bg-value{
    font-size: 0.7rem;
    margin-left: 0.5rem;
    color: #696969;
}

#export-model{
    background-color: #adadad;
    padding: 0.65rem;
    font-size: 0.75rem;
    font-weight: 700;
    border-style: none;
    border-radius: 0.5rem;
    color: #696969;
    cursor: pointer;
}#export-model:hover,
#export-model:active {
opacity: .75;
}

#color-display{
    display: flex; 
    justify-content: space-between; 
    margin-top: 1rem;
}

